.main-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/mexico-destination.jpg");
    height: 50vh;
    min-height: 25vh;
    background-size: cover;
    box-shadow: 0 -25px 14px 0 black inset; 
}

.container{
    padding-top: 8vh;
}


.main-section{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}

.mau-modal-color{
    background-color: #e9e9d6;

}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 1px 3px 4px #ffcdcd;
    border-radius: 50%;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border:0; 
    border-radius: 50px;
}

.buttons-containers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons-containers button{
    width: 30vh;
}
